
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Bruno Ace SC", sans-serif;
}

body{
    background: #020202;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 30px;
    color: #bd0000;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideRight 1s ease forwards;

}

.barraNavegacion a {
    display: inline-block;
    font-size: 18px;
    color: #bd0000;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));

}

.barraNavegacion a:hover{
    color: #ffffff;
}

.inicio {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 8% 0;
    overflow: hidden;
}

.inicio-contenido{
    color: #ffffff;
    max-width: 650px;
}
.inicio-contenido h1{
    color: #bd0000;
    font-size: 30px;
    line-height: 1.2;
}
.inicio-contenido h3{
    color: #ffffff;
    font-size: 20px;
}
.inicio-contenido p {
    font-size: 16px;
    margin: 15px 0 30px;
}
.btn {
    display: inline-block;
    padding: 10px 28px;
    background: #bd0000;
    border: 2px solid #bd0000;
    border-radius: 6px;
    box-shadow: 0 0 10px #020202;
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #bd0000;
}
.inicio-img{
    position: relative;
    right: -7%;
    width: 450px;
    height: 450px;
    transform: rotate(45deg);
}
.inicio-img .rombo{
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000000;
    border: 25px solid #bd0000;
    box-shadow: -15px 15px 15px rgba(0, 0, 0, .2);
}
.inicio-img .rombo img {
    position: absolute;
    top: -100px;
    left: -37px;
    max-width: 550px;
    transform: rotate(-45deg);

}
.inicio .rombo2{
    position:absolute;
    top: -25%;
    right: -25%;
    width: 700px;
    height: 700px;
    background-color: #bd0000;
    transform: rotate(45deg);
    z-index: -1;
    box-shadow: -15px 15px 15px rgba(0, 0, 0, .2);



    
}
.nosotros {
    position: relative;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 8% 0;
    overflow: hidden;
}
.nosotros h4{
    color: #bd0000;
    font-size: 30px;
    line-height: 1.2;
}
.nosotros p {
    color: #ffffff;
    font-size: 16px;
    margin: 15px 0 30px;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
   
}

@keyframes slideTop {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
   
}